<!DOCTYPE html>
<html lang="en">

    <head>
        {{>head}}

        <title>Weather Web</title>
    </head>

    <body>
        {{>nav}}

        <div class="about">
            <div class="aboutLeft">
                <img src="images/man.png" alt="Not Found" srcset="">
            </div>
            <div class="aboutRight">
                <p><span>This is Rohan Sharma, </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                    blanditiis corporis veritatis esse sequi nostrum mollitia eligendi. Optio ullam voluptas explicabo
                    sapiente, quam suscipit accusamus consequuntur sequi amet ex illo incidunt enim, quasi earum dicta
                    praesentium illum labore eaque magnam? Sapiente asperiores totam nisi. Aperiam animi maiores
                    exercitationem fugiat praesentium recusandae nulla suscipit officiis. Esse, consequatur sed!
                    Sapiente, perspiciatis expedita recusandae nemo tempora omnis tempore voluptatibus debitis quos
                    itaque, doloremque minima sit explicabo impedit, dolor libero? A odio modi minus impedit quo! Itaque
                    modi et reiciendis ut excepturi consectetur, eaque doloremque dolores nisi consequatur recusandae
                    hic, adipisci harum enim dicta! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam
                    placeat voluptas temporibus magnam ullam facere quis corporis nobis tempore et eveniet eius dolorum
                    earum libero, cupiditate veniam necessitatibus ex eos obcaecati quaerat nisi molestiae sunt in
                    perspiciatis. Voluptatem aliquam, consequuntur eaque quibusdam officiis quasi accusantium mollitia
                    provident, dolore sed, doloribus temporibus laborum harum voluptates vero. Officiis tempora veniam
                    eum reiciendis voluptas repellendus nulla sint? Exercitationem illum cupiditate delectus, fugiat
                    omnis pariatur velit. Aliquam debitis consequatur magnam architecto tenetur itaque, et sint atque
                    rerum vel. Iusto fuga ipsam expedita aliquam pariatur, quasi tempora ab eius veritatis quam nostrum
                    sint inventore natus.</p>
            </div>

        </div>

        {{>footer}}


    </body>

</html>
