<!DOCTYPE html>
<html lang="en">

    <head>
        {{>head}}

        <title>Weather Web</title>
    </head>

    <body>
        {{>nav}}

        <div class="banner">
            <div class="bannerLeft">
                <h1>Get The Latest <span>Weather</span> Info of Your City</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum aut perferendis
                    deleniti vel quas sequi dolor minus illo repellat?</p>
                <a href="/weather">CHECK NOW</a>
            </div>
            <div class="bannerRight">
                <img src="images/imgSvg.svg" alt="Not Found" srcset="">
            </div>
        </div>

        {{>footer}}


    </body>

</html>
