<!DOCTYPE html>
<html lang="en">

    <head>
        {{>head}}

        <title>Weather Web</title>
    </head>

    <body>
        {{>nav}}

        <img src="images/not.png" alt="Not Found" srcset="">

        {{>footer}}


    </body>

</html>
