<nav class="navigation">
    <h2><a href="/"> ☁️WeatherWithJhaji☁️<a></h2>
    <ul>
        <a href="/">Home</a>
        <a href="/weather">Weather</a>
        <a href="/about">About Us</a>
    </ul>
</nav>
